.container
{
    margin-left: 15%;
    margin-right: 25%;
    margin-bottom: 10%;

}
.test1{
    width: 200px;
    height: 200px;
    background-color: red;
    position:relative;
    left: 100px;
    top: 50px;
    border: 1px solid black;
    display: inline-block;

}
.test2
{
    width: 50px;
    height: 50px;
    background-color:white;
    position:absolute;
    left: 75px;
    top: 0px;
    border: 1px solid black;
}
.test3
{
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    left: 150px;
    top: 50px;
    background-color: red;
    border: 1px solid black;
}
.test4
{
    width: 50px;
    height: 50px;
    top: 70px;
    right: 0px;
    position: absolute;
    background-color:white;
    border: 1px solid black;
}
.test5
{
    display: inline-block;
    width: 200px;
    height: 200px;
    left: 200px;
    top: 50px;
    position: relative;
    background-color: red;
    border: 1px solid black;
}
.test6
{
    width: 50px;
    height: 50px;
    bottom: 0px;
    left: 75px;
    position: absolute;
    background-color:white;
    border: 1px solid black;
}
.test7
{
    display:inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    left: 100px;
    top: 70px;
    background-color: red;
    border: 1px solid black;
}
.test8
{
    width: 50px;
    height: 50px;
    top: 70px;
    position: absolute;
    background-color:white;
    border: 1px solid black;
}

.test9
{

    display:inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    left: 150px;
    top: 70px;
    background-color: red;
    border: 1px solid black;
}
.test10
{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color:white;
    border: 1px solid black;
    left: 70px;
    top: 65px;

}
.test11
{

    display:inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    left: 200px;
    top: 70px;
    background-color: red;
    border: 1px solid black;
}
.test12
{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color:white;
    border: 1px solid black;
}
.test13
{

    display:inline-block;
    width: 200px;
    height: 200px;
    position: relative;

    top: 90px;
    left: 100px;
    background-color: red;
    border: 1px solid black;
}
.test14
{
    width: 50px;
    height: 50px;
    right: 0px;
    position: absolute;
    background-color:white;
    border: 1px solid black;

}
.test15
{

    display:inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    left:150px;
    top: 90px;
    background-color: red;
    border: 1px solid black;
}
.test16
{
    width: 50px;
    height: 50px;
    right:0px;
    bottom:0px;
    position: absolute;
    background-color:white;
    border: 1px solid black;

}
.test17
{
    display:inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    left:200px;
    top: 90px;
    background-color: red;
    border: 1px solid black;
}
.test18
{
    width: 50px;
    height: 50px;
    bottom:0px;
    left:0px;
    position: absolute;
    background-color:white;
    border: 1px solid black;

}